<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.rzn.module_driver">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">


        <activity android:name=".ui.jobOrder.myjoborder.MyjobOrderActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden|stateAlwaysHidden"
            />
        <activity android:name=".ui.driver_identification.Driver_identificationActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden|stateAlwaysHidden"
            />
        <activity android:name=".ui.jobdetails.JobdetailsActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden|stateAlwaysHidden"
            />
        <activity android:name=".ui.drivermaksure.DriverMakeSureActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden|stateAlwaysHidden"
            />
        <activity android:name=".ui.joborderdetial.JobOrderDetialActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden|stateAlwaysHidden"
            />
        <activity android:name=".ui.driverordermessage.DriverOrderMessageActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden|stateAlwaysHidden"
            />
        <activity android:name=".ui.posting.PostingActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden|stateAlwaysHidden"
            />


    </application>

</manifest>
