<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.rzn.module_driver">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">


        <activity android:name=".ui.jobOrder.myjoborder.MyjobOrderActivity"/>
        <activity android:name=".ui.driver_identification.Driver_identificationActivity"/>
        <activity android:name=".ui.jobdetails.JobdetailsActivity"/>
        <activity android:name=".ui.drivermaksure.DriverMakeSureActivity"/>
        <activity android:name=".ui.joborderdetial.JobOrderDetialActivity"/>
        <activity android:name=".ui.driverordermessage.DriverOrderMessageActivity"/>

    </application>

</manifest>
