<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"

    package="com.rzn.module_main">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <activity
            android:name=".ui.login.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.main.MainActivity" />
        <activity android:name=".ui.jobscreening.JobScreeningActivity"
            android:launchMode="singleTask"
            />
        <activity android:name=".ui.myadvice.MyAdviceActivity" />
        <activity android:name=".ui.driverhome.DriverHomeActivity" />
        <activity android:name=".ui.setting.SettingActivity" />
        <activity android:name=".ui.keepstation.KeepStationActivity" />
        <activity android:name=".ui.personalinfo.PersonalInfoActivity" />

    </application>

</manifest>
